*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
@font-face {
    font-family: 'Circe';
    src: url('Circe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	background-color: rgb(255, 255, 255);
    color: #383a3c;
    font-family: 'Tinos', serif;
    padding: 0;
    margin: 0;
}

/* NAVBAR */

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  background-color: #262625;
  border-bottom: 0px solid darkgray;
}

@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px)
.header-global.sticky .single-sticky-title {
    display: block;
}

.logo {
    float: left;
    margin-left: 23px;
    margin-top: 15px;
}

.social-links {
    float: right;
    margin-right: 2%;
    margin-top: 1.5%;
}

/* OTHER BODY */

a {
    color: #1a65af;
    outline: none;
	text-decoration: none;
}
a:hover, a:focus {
	color: #34495e;
}
.header {
    max-width: 855px;
    margin: 0 auto;
    margin-top: 70px;
}
.header img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.heading {
    text-align: center;
    font-size: 32;
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
}
.wide {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}
.skinny {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 0px;
    padding-right: 2px;
    margin-bottom: 0px;
    padding-left: 2px;
    font-size: 18px;
    text-align: left;
    line-height: 1.3;
}
.graph {
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
    margin-top: 0px;
}
.graph img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.skinny img{
    vertical-align: middle;
}
.skinny button{
    background-color: #f8f8f8;
    border-radius: 3px;
    border-style: solid;
    border-color: #b3b3b3;
    line-height: 1;
}
.skinny p{
    padding-left: 10px;
  }
.skinny h3{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.author {
    width: 100%;
    max-width: 650px;
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
    color: #aaa;
    font-size: 1.142857143em;
    font-weight: bold;
}
.vrezka {
    font-size: 14px;
    color: #999999;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* SUPPORT FIELD */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
.sprt {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;
}
.support {
    max-width: 750px;
    background-color: #f7f7f7;
    border-top: 6px solid #1aa4d5;
    margin: 0 auto;  
}
@import url(fonts/CRC55.ttf);
.s-text{
    font-family: "Circe";
    max-width: 650px;
    margin: 0 auto;
    font-size: 16px;
    padding: 20px 10px 20px 10px;
}
.btn {
    max-width: 350px;
    float: right;
    margin-top: 10px;
}
.btn a{
    color: white;
}

/* TABLE */

.container{
    overflow-x: auto;
}
table {
    max-width: 900px;
    margin: 0 auto;
}
table tbody, table thead
{
    display: block;
    
}
thead {
    border-bottom:1px solid rgb(199, 199, 199);
    font-size: 15px;
}
table tbody 
{
   overflow: auto;
   overflow-x: auto;
   height: 450px;
}
th
{
    width: 145px;
}
td{
    width: 145px;
    border-bottom:1px solid rgb(199, 199, 199);
    text-align: right;
}


/* READ MORE */

.all-podval {
    background-color: #e6e6e6;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Circe';
}
.center-podval {
    max-width: 1200px;
    margin: 0 auto;
}
.podval {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(1, 300px);
    margin-bottom: 10px;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.podval > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.podval-text {
    color: white;
    position: absolute;
    bottom: 0;
    max-width: 30%;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.123);
}


/* Subscribe E-MAIL */

.button {
    background-color: #1aa4d5;
    border: none;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    font-family: "Circe";
}
.button:hover {
    background-color: #234955;
}
.mc-field-group {display: inline-block;}
.clear {display: inline-block;}
.field {
    border-radius: 2px; 
    border: 1px solid rgb(233, 233, 233); 
    max-width: 400px; 
    height: 24px;
}
hr {
    color:#e4e4e4;
}

/* FOOTER */

.footer-info {
    background-color: black;
    font-family: "Circe";
    border-top: 0px; 
    border-bottom: 0px;
    padding-bottom: 0em;
    padding-right: 0em;
    padding-left: 0em;
    font-size: 14px;
}

.one-third-left {
    float: left; 
    width: 40%;
    padding-right: 0px;
    padding-top: 10px;
    margin-top: 0px;
    margin-right: 5%;
    margin-left: 5%;
}

.one-third-center {
    float: left; 
    width: 20%;
    padding-right: 0px;
    padding-top: 10px;
    margin-top: 0px;
    margin-right: 20px;
}

.one-third-right {
    float: left; 
    width: 20%;
    padding-right: 0px;
    padding-top: 10px;
    margin-top: 0px;
    margin-right: 20px;
}

.clear-third {
    clear: left;
}

.footer-list {
    color: #262625;
    line-height: 2.8em;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 3px;
}

.footer-list > li > a {
    text-transform: uppercase;
}

.one-third-left p {
    color: #f0f0f0;
    line-height: 1.8em;
    font-size: 0.95em;
}

@media (max-width: 768px) {
.one-third-left {
    float: none;
    }
}

@media (max-width: 768px) {
.one-third-center {
    float: none;
    }
}

@media (max-width: 768px) {
.one-third-right {
    float: none;
    }
}


@media (max-width: 768px) {
.one-third-left {
    width: 75%;
    margin: 0 auto;
    }
}

@media (max-width: 768px) {
.one-third-center {
    width: 75%;
    margin: 0 auto;
    }
}

@media (max-width: 768px) {
.one-third-right {
    width: 75%;
    margin: 0 auto;
    }
}